nav {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    margin: 0;
    padding: 0;
    background-color: lightgray;
}

nav a {
    border: 2px solid red;
    text-decoration: none;
    padding: 12px;
    margin: 6px;
    border-radius: 8px;
}

.button {
    display: inline-block;
    width: 60px;
    height: 60px;
    border: 2px solid black;
    align-content: center;
    text-align: center;
}

.canvas {
    /* align-content: center; */
    text-align: center;
}

#orange {
    background-color: orange;
}

#red {
    background-color: red;
}

#blue {
    background-color: blue;
}

#yellow {
    background-color: yellow;
}